@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #eee;
}

header{
  background-color: yellow;
  padding: 5px;
  text-align: center;
  font-size: 20px;
}

.card{
  display: flex;
  flex-direction: column;
  width: 92%;
  margin: 30px auto 30px;
  gap: 5px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow:  5px 5px 5px rgb(135, 134, 134);
}
.img-cont{
  width: 100%;
  overflow: hidden;
}

.img-cont img{
  width: 100%;
  height: auto;
}
.card h2{
  font-size: 22px;
  color: navy;
  margin-bottom: 10px;
  text-wrap: wrap;
}
.card #details{
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 15px;
}

.card #details #bio{
  color: darkgray;
}

.card #email{
  text-wrap: nowrap;
}
.card #details #links{
  display: flex;
  gap: 15px;
  font-size: 20px;
}

.card #details #links a:hover{
  transform: scale(1.2);
}
.card i{
  color: navy;
}

/* Screens wider than 767px */
@media screen and (min-width:768px){
  .card{
    flex-direction: row;
    width: 60%;
    padding: 15px;
    gap: 10px;
  }
  .img-cont{
    width: 100%;
    overflow: hidden;
  }
  
  .img-cont img{
    width: 100%;
    height: auto;
  }

  .card h2{
    font-size: 25px;
    margin-bottom: 10px;
    text-wrap: nowrap;
  }
  .card #details{
    font-size: 20px;
  }
  
  .card #details #bio{
    font-size: 15px;
  }
  
  .card #details #links{
    margin-top: 5px;
  }
}